= form_for @mentor_profile do |f|
  - if @mentor_profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mentor_profile.errors.count, "error")} prohibited this mentor_profile from being saved:"
      %ul
        - @mentor_profile.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :mentor_profile_id
    = f.number_field :mentor_profile_id
  .field
    = f.label :mentor_profile_type
    = f.text_field :mentor_profile_type
  .actions
    = f.submit 'Save'
