%h1 Listing mentor_profiles

%table
  %tr
    %th Title
    %th Mentor profile
    %th Mentor profile type
    %th
    %th
    %th

  - @mentor_profiles.each do |mentor_profile|
    %tr
      %td= mentor_profile.title
      %td= mentor_profile.mentor_profile_id
      %td= mentor_profile.mentor_profile_type
      %td= link_to 'Show', mentor_profile
      %td= link_to 'Edit', edit_mentor_profile_path(mentor_profile)
      %td= link_to 'Destroy', mentor_profile, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Mentor profile', new_mentor_profile_path
